#products {
	padding:0%;
}


.carousel-inner > .item > img {
      width: 100%; /* Set width to 100% */
      margin: auto;
  }

.carousel-caption h3 {
      color: #000 !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  } 
 
#itemlist {
  padding: 4% 30%;
  margin:auto;
}
.category {
	padding:2%;
  margin: auto;
 }

#tab-content {
  padding:0px;
}

/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;  
  }
